<!DOCTYPE html>
<<<<<<< HEAD
<h1>Recipes</h1>
<% @recipes.each do |recipe| %>
<% recipe_link = "/recipes/#{recipe.id}" %>
<p><a href="<%= recipe_link %>"><%= recipe.name %></a></p>
<% end %>
=======

<% @recipes.each do |p|  %>
<a href="/recipes/#{p.id}">Recipe Name: <%= p.name %></a><br>
Ingredients: <%= p.ingredients %><br>
Cook Time: <%= p.cook_time %><br>
<% end %>
>>>>>>> 5af53fa5162cb07e1d5c55757da44c49c2cc37c4
